.footer {
    width: 100%;
    height: 5vw;
    align-items: flex-start;
    margin: 0 auto;
    border:1px solid black;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    margin: 20px auto 10px auto;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    block-size: auto;
}

.footer .footer-left, .footer-center, .footer-right {
    margin:10px auto;
    width: 30%;
    min-height: 60px;
}

.footer .footer-left {
    border-right: 1px solid black;
}

.footer .footer-right {
    border-left: 1px solid black;
}